<p class="title">ログイン</p>
<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>

  <div class="login_form">
    <%= form.email_field :email,placeholder:"メールアドレス" %>
    <%= form.password_field :password,placeholder:"パスワード" %>
  </div>

  <div class="login">
  <%= form.submit "ログイン",class:"btn btn-outline-danger" %>
  </div>
<% end %>